.bg-light {
    background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light{
    color: #ffffff;
}

.h1 {
    color: #4385ff;
}

body {
    background-image: url("../Images/ignasi_pattern_s.png");
}