/* For all pages */
.bg-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light {
  color: #ffffff;
}

.h1 {
  color: #fff;
  background-color: #00aeae;
  font-family: serif;
}

.h2 {
    color: #00aeae;
}

body {
  background-image: url("../Images/ignasi_pattern_s.png");
}

.content-background {
  background-color: white;
  padding: 15px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

/* For contact page */
.btn {
    background-color: #00aeae;
    color: white;
    padding: 10px 20px;
}

/* For portfolio page */
.image {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}